<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>Dieses Paket enthält die Daten für die Quellen zur Zürcher Geschichte</description>
    <author/>
    <website/>
    <status>alpha</status>
    <license>GNU-LGPL</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>qzh-data</target>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <permissions user="qzh" group="tei" mode="rw-rw-r--"/>
<deployed>2022-07-19T12:11:38.945+02:00</deployed></meta>